<div class="mt-4">
  <div class="row">
    {{#each news}}
      <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
          <img
            src="{{this.image}}"
            class="card-img-top h-[300px] object-cover"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <a href="#" class="btn btn-primary mt-4">Xem chi tiết...</a>
          </div>
        </div>
      </div>
    {{else}}
      <div class="text-center">
        <span>Hiện chưa có bản tin nào.</span>
        <a href="/news/upload" class="underline text-blue-400">Tạo bản tin</a>
      </div>
    {{/each}}

    {{#each rows}}
     <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card" style="background-color: {{this.color}};">
          {{this.link}}
        </div>
        </div>
    {{/each}}

    <div contenteditable="true" class="text-center outline-none"></div>
  </div>
</div>